{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="padding-left: 20%; width: 130%; margin-bottom: 13.5%;">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Post your Queries!!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
    </div>
{% endblock content %}