{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title></title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'blog/lassets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'blog/lassets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'blog/lassets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lassets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lassets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lassets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lassets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lassets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'blog/event/css/style.css' %}" rel="stylesheet">
  </head>
  
<body>
  <nav class="navbar navbar-light" style="background-color: #5777ba;">
    <a class="navbar-brand" href="{% url 'landing' %}" style="margin-left: 48%; color: white; margin-top: 1%; margin-bottom: 1%; font-size: medium;">
      We Care
    </a>
  </nav>
  <section id="venue">

    <div class="container-fluid" data-aos="fade-up">

      <div class="section-header">
        <h2>Infinite colour spot to brighten your health</h2>
        <p>Colour therapy by dementia care org</p>
      </div>

      <div class="row g-0">
        <div class="col-lg-6 venue-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-lg-6 venue-info">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
              <h3>Colour therapy in New York</h3>
              <p>Have you ever looked at the sky or sea and felt a sudden sense of relaxation? Or walked into a red room and immediately felt invigorated and energized, or maybe angry? If so, you may have subconsciously experienced color therapy, an alternative medical practice that uses light in the form of color to influence feelings and even promote healing. </p>
              <p>Date:25-10-2022 11:30 AM GST</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <br>
      <section style="padding-left:47.5%;">
      <button type="button" class="btn btn-primary">Register</button>
      </section>
  </section><!-- End Venue Section -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'blog/event/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'blog/event/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'blog/event/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'blog/event/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'blog/event/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'blog/event/js/main.js'%}"></script>


</body>

</html>